
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Internet Connection
Comment=Surf the World Wide Web!!!!!
Categories=Application;
Exec=exo-open --launch WebBrowser
Icon=browser
Terminal=false
StartupNotify=false
