[Desktop Entry]
Type=Application
Name=Word Processor
Comment=The Abiword Word Processor
Icon=accessories-text-editor
Exec=abiword
Path=/home/user
Terminal=false
StartupNotify=false

